<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
          .GFG {
            background-color: white;
            border: 2px solid black;
            color: green;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
        }
  </style>
  <title>Document</title>
</head>
<body>
  <header>
    My Bookings
  </header>
  <div class="contianer">
    
   <a href="/bookings/add" class="GFG">
    add a booking 
   </a>
  
  </div>
</body>
</html>